.exito {
  background: #eff1f3 ;
	text-align: left;
	padding: 5px 20px 5px 45px;
	border-top: 2px solid #6ab0e0;
	border-bottom: 2px solid #6ab0e0;
	
}

.error-login {
  background: #ffd5d4 ;
	text-align: left;
	padding: 5px 20px 5px 45px;
	border-top: 2px solid #ff0031;
	border-bottom: 2px solid #ff0031;
	
}
.error-global {
  background: #ffd5d4 ;
	text-align: left;
	padding: 5px 20px 5px 45px;
	border-top: 2px solid #ff0031;
	border-bottom: 2px solid #ff0031;
	
}

label.error {
 
 font-weight: bold;
 color:red;
 
 }



/*scroll tabs*/

/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 80%;
	height:40px;

}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accommodate scrollable items.
	it's enough that you set width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
}

/*
	a single item. must be floated in horizontal scrolling.
	typically, this element is the one that *you* will style
	the most.
*/
.items div {
	float:left;
	margin-top:0;
}
.show_details_from_calendar {

  background-color: #fff;
  border: 2px solid #5b8ccb; 
  padding: 5px 20px 5px 45px;
  width: 500px;
  -moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
/*	border-top: 2px solid #6ab0e0;
	border-bottom: 2px solid #6ab0e0;*/

	

}
.flechaArriba {
background-image: url('app/jquery_theme/images/ui-icons_0078ae_256x240.png');
background-position: 0 -48px;
}

.navigation-wizard {
  
  float: left;
  position: relative;
  top: -40px;
  left: 150px;

}
.menu-link {
  cursor:pointer;
}
